{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{product.name}}-nasıl uygulanır
{% endblock %}

{% block metalar %}
		<meta name="description" content="{{product.name}} ürünün nasıl uygulandığına dair bilgilere bu sayfamızdan erişebilirsiniz.">
		<meta name="keywords" content="{{product.name}} uygulanması">
{% endblock %}

{% block content %}
<div class = "row justify-content-md-center justify-content-sm-center justify-content-lg-center">
	<div class = "col-md-6 col-lg-6 col-sm-8">
		<div class="card mb-3 text-center">
			<div class="card-header bg-danger text-white"><h5>{{product.name}} <br>NASIL UYGULANIR?</h5></div>
		  {% if product.category.nasıl_uygulanır_resimleri %}
			{% for resim in product.category.nasıl_uygulanır_resimleri.resimler.all %}
				<img src="{{resim.image1.url}}" class="img-fluid img-thumbnail mb-2" alt="{{resim.isim}}">
			{% endfor %}	
		  {% endif %}
		</div>
	</div>
</div>
{% endblock %}