.content {
  min-height: calc(100vh - 50px);
}
.footer {
  height: 50px;
  background-color: #333;
  color:#fff;
}

.navbar-brand {
  font-family: 'Peralta', cursive;
}


.fa-whatsapp {
  color: #0aad27;
  font-size: 18px;
}

.fa-book-reader{
	font-size: 32px;
	color: orange;
}

.detail-resim{
	    
}

.slayt-resmi {
	
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
	.urun-basligi {
		font-size: 12px;
	}
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
	.urun-basligi {
		font-size: 12px;
	}
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
	.urun-basligi {
		font-size: 12px;
	}
	
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
	.urun-basligi {
		font-size: 12px;
	}
}