{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card mb-3 text-center">
  <div class="card-header bg-danger text-white"><h5>ÜRÜN KATEGORİLERİMİZ</h5></div>
  <div class="card-body">
      {% for category in ana_kategoriler%}
		{% if forloop.counter <= 3 %}
	  <a href = "{{category.get_absolute_url}}" type="button" class="btn btn-primary btn-sm btn-block">{{category.name}}</a>
	  {% endif %}
      {% if forloop.counter == 4 %}
	  <a href = "{{category.get_absolute_url}}" type="button" class="btn btn-success btn-sm btn-block">{{category.name}}</a>
	  {% endif %}
	  {% if forloop.counter == 5 %}
	  <a href = "{{category.get_absolute_url}}" type="button" class="btn btn-danger btn-sm btn-block">{{category.name}}</a>
	  {% endif %}
	  {% if forloop.counter == 6 %}
	  <a href = "{{category.get_absolute_url}}" type="button" class="btn btn-warning btn-sm btn-block">{{category.name}}</a>
	  {% endif %}
	  {% if forloop.counter == 7 %}
	  <a href = "{{category.get_absolute_url}}" type="button" class="btn btn-info btn-sm btn-block">{{category.name}}</a>
	  {% endif %}
	
	{% endfor %} 
  </div>
</div>

<div class="card-header bg-danger text-white text-center"><h5>ÜRÜNLERİMİZ</h5></div>
<div class="card-deck">
{% for urun in urunler%}
  <div class="card mt-4">
  
	
   <a href = "{{urun.get_absolute_url}}"> {% if urun.category.image1 %}<img class="card-img-top img-responsive" src="{{urun.category.image1.url}}" alt="{{urun.name}}">{% endif %}
	</a>
    <div class="card-body text-center">
	<a href = "{{urun.get_nasil_url}}" type="button" class="btn btn-primary btn-sm btn-block ">Nasıl Uygulanır</a>
      <h6 class="card-title">{{urun.name}}</h6>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted">{{urun.price}} TL</small>
    </div>
  
  </div>
  {% if forloop.counter|divisibleby:4 %}
  <div class="w-100"></div>
  {% endif %}
  {% endfor %} 
</div>

<div class="card-deck mt-3 text-center">
{% for konu in genel%}

  <div class="card text-white bg-dark mb-3">
    <div class="card-header"><a class = "text-white" href = "{{konu.get_absolute_url}}">{{konu.başlık}}</a></div>
    <div class="card-body">
      <p class="card-text">{{konu.kısa_içerik|safe}}</p>	 
    </div>
  </div>   

{% endfor %} 
</div>
{% endblock %}
