{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class = "row">
  <div class = "col-md-5 col-sm-12 sol">
  <div class = "card">
    <div class="card mb-2 text-center">
      <div class="card-header text-white {{anasayfa.kategorilerim_yazısı_arka_plan_rengi}} {{anasayfa.kategorilerim_yazı_rengi}} py-0" style="font-size: {{anasayfa.kategorilerim_yazı_boyutu}}px;">ÜRÜN KATEGORİLERİMİZ</div>
      <div class="card-body bg-secondary {{anasayfa.kategorilerim_arka_plan_rengi}}">
        {% for category in ana_kategoriler%}
		  {% if forloop.counter <= 3 %}
	        <a href = "{{category.get_absolute_url}}" type="button" class="btn {{anasayfa.ilk_üç_button}} btn-sm btn-block" style="font-size: {{anasayfa.buttonlar_yazı_büyüklüğü}}px;">{{category.name}}</a>
	      {% endif %}
          {% if forloop.counter == 4 %}
	        <a href = "{{category.get_absolute_url}}" type="button" class="btn{{anasayfa.dördüncü_button}} btn-sm btn-block" style="font-size: {{anasayfa.buttonlar_yazı_büyüklüğü}}px;">{{category.name}}</a>
	      {% endif %}
	      {% if forloop.counter == 5 %}
	        <a href = "{{category.get_absolute_url}}" type="button" class="btn {{anasayfa.beşinci_button}} btn-sm btn-block" style="font-size: {{anasayfa.buttonlar_yazı_büyüklüğü}}px;">{{category.name}}</a>
	      {% endif %}
	      {% if forloop.counter == 6 %}
	        <a href = "{{category.get_absolute_url}}" type="button" class="btn {{anasayfa.altıncı_button}} btn-sm btn-block" style="font-size: {{anasayfa.buttonlar_yazı_büyüklüğü}}px;">{{category.name}}</a>
	      {% endif %}
	      {% if forloop.counter == 7 %}
	        <a href = "{{category.get_absolute_url}}" type="button" class="btn {{anasayfa.yedinci_button}} btn-sm btn-block" style="font-size: {{anasayfa.buttonlar_yazı_büyüklüğü}}px;">{{category.name}}</a>
	      {% endif %}
	   {% endfor %} 
    </div>
    </div>
	<div class="card mb-2 text-center">
      <div class="card-header bg-success text-white py-0">E-TURNUVA</div>
      <div class="card-body bg-warning">
	    <a href = "#" type="button" class="btn btn-info btn-sm btn-block">Eturnuva nedir?</a>
		<a href = "#" type="button" class="btn btn-danger btn-sm btn-block">Eturnuva Nasıl Uygulanır?</a>
		<a href = "#" type="button" class="btn btn-light btn-sm btn-block">Eturnuva Etkinlikleri?</a>
		<a href = "#" type="button" class="btn btn-info btn-sm btn-block">Eturnuva nedir?</a>
		<a href = "#" type="button" class="btn btn-danger btn-sm btn-block">Eturnuva Nasıl Uygulanır?</a>
		<a href = "#" type="button" class="btn btn-light btn-sm btn-block">Eturnuva Etkinlikleri?</a>
      </div>
    </div>
  </div>
  </div>
  <div class = "col-md-7 sag">
  <div class = "card h-100">
    <div class="card-header text-white {{anasayfa.urunler_arka_plan_rengi}} text-center  py-0" style="font-size: {{anasayfa.urunler_yazı_boyutu}}px;">ÜRÜNLERİMİZ</div>
	<div class = "row">	
	{% for urun in urunler1%}
      <div class = "col-md-6 col-sm-12">
      <div class="card h-100">	
        <a href = "{{urun.get_absolute_url}}"> {% if urun.category.image1 %}
		  <img class="card-img-top img-responsive" src="{{urun.category.image1.url}}" alt="{{urun.name}}">{% endif %}
	    </a>
        <div class="card-body text-center">
	      {% if not urun.category.ana_kategori.sadece_madalyalı_mı %}
		  <a href = "{{urun.get_nasil_url}}" type="button" class="btn btn-primary btn-sm btn-block ">Nasıl Uygulanır</a>
          {% endif %}
		  <h6 class="card-title" style="font-size: {{anasayfa.urunler_yazı_büyüklüğü}}px;">{{urun.name}}</h6>
       </div>
       <div class="card-footer text-center">
        <small class="text-muted">{{urun.price}} TL</small>
       </div>
     </div>
	 </div>
	 
	 {% endfor %}
  </div>
  </div>
   </div>
</div>
<div class="row">
{% for urun in urunler2%}
<div class = "col-md-3 sm-4 mb-2">
  <div class="card h-100 mt-2 mb-2">
  
	
   <a href = "{{urun.get_absolute_url}}"> {% if urun.category.image1 %}<img class="card-img-top img-responsive" src="{{urun.category.image1.url}}" alt="{{urun.name}}">{% endif %}
	</a>
    <div class="card-body text-center px-0 py-1">
	{% if not urun.category.ana_kategori.sadece_madalyalı_mı %}
	<a href = "{{urun.get_nasil_url}}" type="button" class="btn btn-primary btn-sm btn-block ">Nasıl Uygulanır</a>
    {% endif %}  
	  <h6 class="card-title" style="font-size: {{anasayfa.urunler_yazı_büyüklüğü}}px;">{{urun.name}}</h6>
    </div>
    <div class="card-footer text-center">
      <small class="text-muted">{{urun.price}} TL</small>
    </div>
  
  </div>
   
</div>
{% endfor %}
</div>
<div class="card-deck mt-3 text-center">
{% for konu in genel%}

  <div class="card text-white bg-dark mb-3">
    <div class="card-header"><a class = "text-white" href = "{{konu.get_absolute_url}}">{{konu.başlık}}</a></div>
    <div class="card-body">
      <p class="card-text">{{konu.kısa_içerik|safe}}</p>	 
    </div>
  </div>   

{% endfor %} 
</div>
{% endblock %}
